* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

@media only screen and (max-width: 500px) {
  html {
    font-size: 45.5%;
  }
}

header {
  height: 11.3rem;
  width: 100%;
  background-color: aqua;
}

.heading-2 {
  font-size: 3.8rem;
  font-weight: 400;
  margin-bottom: 2rem;
  color: #fff;
}

.book {
  width: 114rem;
  margin: 10rem auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (45rem)[1];
      grid-template-rows: repeat(1, 45rem);
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  grid-gap: 2rem;
}

@media only screen and (max-width: 1500px) {
  .book {
    width: 100rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (45rem)[2];
        grid-template-rows: repeat(2, 45rem);
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 1200px) {
  .book {
    width: 50rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    -ms-grid-columns: 50rem;
        grid-template-columns: 50rem;
  }
}

@media only screen and (max-width: 600px) {
  .book {
    width: 40rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    -ms-grid-columns: 40rem;
        grid-template-columns: 40rem;
  }
}

@media only screen and (max-width: 300px) {
  .book {
    width: 30rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    -ms-grid-columns: 30rem;
        grid-template-columns: 30rem;
  }
}

.book-left {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#27d6e2), to(#068181));
  background-image: linear-gradient(to right bottom, #27d6e2, #068181);
  border-radius: 1rem;
  -webkit-box-shadow: 1rem 0.5rem 2rem rgba(0, 0, 0, 0.226);
          box-shadow: 1rem 0.5rem 2rem rgba(0, 0, 0, 0.226);
  padding: 3rem;
}

.book-right {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#27d6e2), to(#068181));
  background-image: linear-gradient(to right bottom, #27d6e2, #068181);
  border-radius: 1rem;
  padding: 3rem;
  -webkit-box-shadow: 1rem 0.5rem 2rem rgba(0, 0, 0, 0.226);
          box-shadow: 1rem 0.5rem 2rem rgba(0, 0, 0, 0.226);
}

@media only screen and (max-width: 1200px) {
  .book-right {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
}

.book-btn {
  text-decoration: none;
  padding: 0.8rem 3rem;
  color: #030303;
  border-radius: 2rem;
  font-size: 1.6rem;
}

.book-detail {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (5rem)[4];
      grid-template-rows: repeat(4, 5rem);
  grid-gap: 2rem;
  margin-top: 5rem;
}

.book-detail_1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10rem 10rem 15rem;
      grid-template-columns: 10rem 10rem 15rem;
  grid-gap: 2rem;
}

.book-calender {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10rem 20rem;
      grid-template-columns: 10rem 20rem;
  -ms-grid-row-align: center;
      align-self: center;
}

.book-counter {
  -ms-grid-column-align: center;
      justify-self: center;
  position: relative;
}

.book-counter .next {
  position: absolute;
  top: 3%;
  right: 0;
  display: block;
  width: 0.6rem;
  height: 0.6rem;
  font-size: 1.6rem;
  z-index: 1;
  color: #dfdfdf;
  cursor: pointer;
}

.book-counter .prev {
  position: absolute;
  top: 3%;
  left: 0;
  font-size: 1.6rem;
  display: block;
  width: 0.6rem;
  height: 0.6rem;
  z-index: 1;
  color: #dfdfdf;
  cursor: pointer;
}

label {
  font-size: 1.6rem;
}

.btn-g {
  margin-top: 2rem;
  margin-right: 1rem;
  background-color: #f2c731;
  border: 1px solid #000000;
  color: black;
}

.btn-g:hover {
  background-color: #f2c731;
  border: none;
  -webkit-box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.151);
          box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.151);
}

.btn-v {
  background-color: transparent;
  color: black;
  border: 1px solid #000000;
}

.btn-v:hover {
  background-color: #f2c731;
  border: none;
  -webkit-box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.151);
          box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.151);
}

#box,
#box2,
#box3,
#box4,
#box5,
#box6 {
  padding-right: 2rem;
  padding-left: 3rem;
  font-size: 1.6rem;
  color: #000;
}

#box4 {
  opacity: 0;
  padding-right: 3rem;
}

#box5 {
  opacity: 0;
  padding-right: 3rem;
}

#box6 {
  opacity: 0;
  padding-right: 3rem;
}

#box span {
  display: block;
  display: none;
  color: #000;
  font-size: 1.8rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#box2 span {
  display: block;
  display: none;
  color: #000;
  font-size: 1.8rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#box3 span {
  display: block;
  display: none;
  color: #000;
  font-size: 1.8rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#box4 span {
  display: block;
  position: absolute;
  top: 0;
  display: none;
  color: #000;
  font-size: 1.8rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#box5 span {
  display: block;
  position: absolute;
  top: 0;
  display: none;
  color: #000;
  font-size: 1.8rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#box6 span {
  display: block;
  position: absolute;
  top: 0;
  display: none;
  color: #000;
  font-size: 1.8rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#box span:nth-child(1) {
  display: initial;
  color: #000;
}

#box2 span:nth-child(1) {
  display: initial;
  color: #000;
}

#box3 span:nth-child(1) {
  display: initial;
  color: #000;
}

#box4 span:nth-child(1) {
  display: initial;
  color: #000;
}

#box5 span:nth-child(1) {
  display: initial;
  color: #000;
}

#box6 span:nth-child(1) {
  display: initial;
  color: #000;
}

#price,
#price1,
#price2 {
  -ms-grid-column-align: center;
      justify-self: center;
}

#price span {
  font-size: 1.8rem;
  font-weight: 700;
}

#price1 span {
  font-size: 1.8rem;
  font-weight: 700;
}

#price2 span {
  font-size: 1.8rem;
  font-weight: 700;
  color: #2e2e2e;
}

.rupee {
  color: #8b8b8b;
}

.form {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (5rem)[4];
      grid-template-rows: repeat(4, 5rem);
}

.form-adult {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.form-child {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.form-sr {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  border-bottom: 0.2rem solid #474747;
}

.form-total {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  margin-top: 1rem;
}

input[type="text"] {
  border: none;
  background-color: transparent;
  height: 2rem;
}

input[type="text"]:focus {
  outline: none;
}

@media only screen and (max-width: 400px) {
  input[type="text"] {
    width: 50%;
  }
}

.confirm {
  width: 40%;
  margin: 2rem auto;
  padding: 0.5rem 0rem;
  font-size: 1.8rem;
  border: none;
  border-radius: 5rem;
  background-color: transparent;
  color: #fffefe;
  border: 0.2rem solid #fff;
}

.confirm:focus {
  outline: none;
}

.confirm:hover {
  -webkit-box-shadow: 0.5rem 2rem 2rem rgba(0, 0, 0, 0.315);
          box-shadow: 0.5rem 2rem 2rem rgba(0, 0, 0, 0.315);
  background-color: #fcd708;
  border: none;
  color: #000;
}

.bg-color {
  background-color: #f2c731;
  border: none;
}

.type {
  margin-bottom: 2rem;
  font-weight: 400;
}

.date-picker {
  position: relative;
  height: 30px;
  background-color: #fff;
  margin-left: 4rem;
  margin-bottom: 1rem;
  -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 999;
}

.date-picker:hover {
  background-color: #f3f3f3;
}

.date-picker .selected-date {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #313131;
  font-size: 1.6rem;
}

.date-picker .dates {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #fff;
}

.date-picker .dates.active {
  display: block;
}

.date-picker .dates .month {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 2px solid #eee;
}

.date-picker .dates .month .arrows {
  width: 35px;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #313131;
  font-size: 20px;
}

.date-picker .dates .month .arrows:hover {
  background-color: #f3f3f3;
}

.date-picker .dates .month .arrows:active {
  background-color: #00ca85;
}

.date-picker .dates .days {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[7];
      grid-template-columns: repeat(7, 1fr);
  height: 200px;
}

.date-picker .dates .days .day {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #313131;
}

.date-picker .dates .days .day.selected {
  background-color: #00ca85;
}
/*# sourceMappingURL=main.css.map */